<footer>
    <div class="tt-footer-default tt-color-scheme-02">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-9">
                    <div class="tt-newsletter-layout-01">
                        <div class="tt-newsletter">
                            <div class="tt-mobile-collapse">
                                <h4 class="tt-collapse-title">
                                    Giữ liên lạc với chúng tôi:
                                </h4>
                                <div class="tt-collapse-content">
                                    <form id="newsletterform" class="form-inline form-default" method="post" novalidate="novalidate" action="#">
                                        <div class="form-group">
                                            <input type="text" name="email" class="form-control" placeholder="Nhập địa chỉ e-mail"">
                                            <button type="submit" class="btn">NHẬN THÔNG BÁO</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-auto">
                    <ul class="tt-social-icon">
                        <li><a class="icon-g-64" target="_blank" href="http://www.facebook.com/"></a></li>
                        <li><a class="icon-h-58" target="_blank" href="http://www.facebook.com/"></a></li>
                        <li><a class="icon-g-66" target="_blank" href="http://www.twitter.com/"></a></li>
                        <li><a class="icon-g-67" target="_blank" href="http://www.google.com/"></a></li>
                        <li><a class="icon-g-70" target="_blank" href="https://instagram.com/"></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="tt-footer-col tt-color-scheme-01">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-2 col-xl-3">
                    <div class="tt-mobile-collapse">
                        <h4 class="tt-collapse-title">
                            CATEGORIES
                        </h4>
                        <div class="tt-collapse-content">
                            <ul class="tt-list">
                                <li><a href="/products/Áo">Điện thoại</a></li>
                                <li><a href="/products/Quần">Laptop</a></li>
                                <li><a href="/products/Phụ%20Kiện">iPad</a></li>
                                
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-2 col-xl-3">
                    <div class="tt-mobile-collapse">
                        <h4 class="tt-collapse-title">
                            Tài khoản của tôi
                        </h4>
                        <div class="tt-collapse-content">
                            <ul class="tt-list">
                                <li><a href="/shopping_cart">Giỏ hàng</a></li>
                                <li><a href="/login">Đăng nhập</a></li>
                                <li><a href="/create-account">Đăng ký</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 col-xl-3">
                    <div class="tt-mobile-collapse">
                        <h4 class="tt-collapse-title">
                            Phương Châm
                        </h4>
                        <div class="tt-collapse-content">
                            <p>
                                Chúng tôi luôn mong muốn mang lại cho khách hàng những sản phẩm tốt nhất.
                                Sự hài lòng của khách hàng chính là sự thành công của chúng tôi.
                                <b>Trùm Công Nghệ</b> nơi hội tụ của mọi công nghệ.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 col-xl-3">
                    <div class="tt-newsletter">
                        <div class="tt-mobile-collapse">
                            <h4 class="tt-collapse-title">
                                Liên hệ
                            </h4>
                            <div class="tt-collapse-content">
                                <address>
                                    <p><span>We are:</span>Trùm Công Nghệ</p>
                                    <p><span>About Us:</span><a href="#">About shop</a></p>
                                    <p><span>E-mail:</span> <a href="mailto:theanhtutai1998@gmail.com">theanhtutai1998@gmail.com</a></p>
                                </address>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>